body{
    color:#ffffff;
    font-family:'Times New Roman', Times, serif;
  
  }

  nav{
    font-size: 18;
    background:#c30336;
    font-weight: bolder;
  }
  ul{
    display: flex;
    margin-left: auto;
    margin-right: 25px;
  }
  li{
    list-style: none;
    padding: 20px;
  }
  li a{
    text-decoration: none;
    padding:25px;
    color:white;
  }
